---
import metaData from '@data/meta/meta.json';
import type { Locale } from '@widgets/components';

const locale = Astro.currentLocale as Locale;

const meta = metaData[locale];
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />

  <link rel="icon" type="image/svg+xml" href="/favicon-light.svg" media="(prefers-color-scheme: dark)" />
  <link rel="icon" type="image/svg+xml" href="/favicon-dark.svg" media="(prefers-color-scheme: light)" />

  <meta name="theme-color" content="#121212" media="(prefers-color-scheme: light)" />
  <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: dark)" />

  <meta property="og:title" content={meta.title} />
  <meta property="og:description" content={meta.description} />
  <meta property="og:image" content="/opengraph.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:url" content="https://mirislamus.github.io" />
  <meta property="og:type" content="website" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={meta.title} />
  <meta name="twitter:description" content={meta.description} />
  <meta name="twitter:image" content="/opengraph.jpg" />

  <title>{meta.title}</title>
  <script>
    function updateTheme(theme: string) {
      document.documentElement.setAttribute('data-theme', theme);
      localStorage.setItem('theme', theme);
      document
        .querySelector('meta[name="theme-color"]')
        ?.setAttribute('content', theme === 'dark' ? '#121212' : '#ffffff');
    }

    const prefersDark = window.matchMedia('(prefers-color-scheme: dark)');
    const savedTheme = localStorage.getItem('theme');
    const theme = savedTheme ?? (prefersDark.matches ? 'dark' : 'light');

    updateTheme(theme);

    prefersDark.addEventListener('change', ({ matches }) => {
      if (savedTheme !== 'auto' && savedTheme) return;
      updateTheme(matches ? 'dark' : 'light');
    });
  </script>
</head>
